/*
* Mainstyle.css
* Author: Ersin Buckley
* License: http://www.gnu.org/licenses/gpl-2.0.html
* version 0.2
*/
/*=========={base layout}==========*/
body{
	min-width:550px
	margin: 0;
	padding: 0;
	background: #fff;

}
#header
{
	margin-top: -10px;
	background: #5f6472;
	border: 1px solid #002072;
	text-align: center;
	color: #fff;
	
	
}
#container
{
	width: 500px;
	margin: 0 auto;
}
.content
{
	padding: 5px 0px 5px 0px;
	border: 1px solid #002072
	background: #5f6472;
}
.light
{
	background: #d4d6dc;
}

/*=========={font handling}==========*/
body{
	font: 75% "Arial", sans-serif;
	color: #404040;
}
/*=========={headings}==========*/
h1{
	font: 2.3em "Garamond" serif;
	
}
h3{
	font:normal 24px georgia;
        margin:40px 0 13px 0;
        padding:0;
}
/*=========={link}==========*/
a:hover{
	color: #cc3300;
	text-decoration: none;
}
a{
	color: #000;
	text-decoration: none;
}
/*======[corner]====*/
/*http://www.roundedcornr.com generated this code and images*/
.roundedcornr_box_499666 {
	background: url(../images/imagesroundedcornr_499666_tl.png) no-repeat top left;
}
.roundedcornr_top_499666 {
	background: url(../images/roundedcornr_499666_tr.png) no-repeat top right;
}
.roundedcornr_bottom_499666 {
	background: url(../images/roundedcornr_499666_bl.png) no-repeat bottom left;
}
.roundedcornr_bottom_499666 div {
	background: url(../images/roundedcornr_499666_br.png) no-repeat bottom right;
}
.roundedcornr_content_499666 {
	background: url(../images/roundedcornr_499666_r.png) top right repeat-y;
}

.roundedcornr_top_499666 div,.roundedcornr_top_499666,
.roundedcornr_bottom_499666 div, .roundedcornr_bottom_499666 {
	width: 100%;
	height: 15px;
	font-size: 1px;
}
.roundedcornr_content_499666, .roundedcornr_bottom_499666 {
	margin-top: -19px;
}
.roundedcornr_content_499666 { padding: 0 15px; }

